.main-section-secondBaner{
    height: 545px;
    background-color: #140F36;
    padding: 100px 0 100px 0;
}
.main-wrapper-section-secondBaner{
    background-image: url(../../../assets/photo/mainSecondBaner/secondBaner.png);
    width: 100%;
    height: 345px;
    border-radius: 60px;
    position: relative;
}
.secondBanerGradient{
    width: 100%;
    height: 100%;
    border-radius: 60px;
}

.wrapper-secondBaner-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 381px;
    height: 146px;
    position: absolute;
    top: 100px;
    left: 70px;
    z-index: 2;
}
.main-secondBaner-content-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #FFFFFF;
}