.main-section-reviews{
    width: 100%;
    height: 625px;
    background-color: #19143E;
    padding-top: 100px;
}
.main-wrapper-reviews-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main-wrapper-reviews-content-title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.wrappper-for-title-reviews{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 466px;
    height: 50px;
}

.wrappper-for-reviews{
    display: flex;
    justify-content: space-between;
}
.wrapper-card-review{
    padding: 30px;
    background: #211946;
    border-radius: 30px;
    width: 386px;
    height: 333px;
}
.content-review{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.wrapper-author-review{
    display: flex;
    padding-top: 20px;
    align-items: center;
    gap: 20px;
}
.wrapper-author-review-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    background: #E4014A;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
    border-radius: 30px;
    
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.wrapper-author-review-name{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.wrapper-author-review-data{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.section-review-cards{
    width: 1218px;
    height: 1059px;
    display: flex;
    flex-wrap: wrap;

    gap: 30px;

}
.btn-show-more{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 176px;
    height: 54px;

    background: #E4014A;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
    border-radius: 48px;
    border: none;
    margin: 0 auto;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}