.Photo-shop-img {
    margin-top: 71px;
    margin-left: -32px;
    width: 372px;
    height: 399px;
}
.main-wrapper-title {
    display: flex;
    flex-direction: column;
    margin-top: 112px;
}
.title-description{
    margin-bottom: 18px;
}
.btn-write-review{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 194px;
    height: 54px;

    background: #E4014A;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
    border-radius: 48px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
.section-question-form{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 30px;

    width: 1218px;
    height: 358px;

    background: #19143E;
    border-radius: 30px;
    margin-bottom: 100px;
}
.form-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.form-subtitle{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #716BA8;
}
.input-box-content{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.input-box-name-company, .input-box-name-mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;

    width: 539px;
    height: 54px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 59px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #716BA8;
}
.input-box-name-company::placeholder, .input-box-name-mail::placeholder{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #716BA8;
}
.btn-write-request{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 194px;
    height: 54px;
    background: #E4014A;

    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.4);
    border-radius: 48px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}