html{
    background: #140F36;
    width: 1920px;
    margin: 0 auto;
}
.wrapper{
    width: 1220px;
    margin: 0 auto;
}
.hr-line{
    border:  none;
    border-bottom: .5px solid #FFFFFF;
    opacity: .08;
    width: 1920px;
    position: absolute;
    top: 113px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


