.body{
    width: 1920px;
    margin: 0 auto;
    background-color: rgb(189, 181, 181);
    
}
.hr-line{
    border:  none;
    border-bottom: 0.031rem solid #FFFFFF;
    opacity: 0.08;
    width: 1920px;
    height: 1.5px;
    position: absolute;
    top: 106px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}