.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #19143E;
    height: 388px;
    position: relative;
}
.footer-dop-inf{
    display: flex;
    justify-content: space-between;
    width: 703px;
    padding: 40px 0 40px 0;
}
.wrapper-footer-logo{
    width: 90px;
    height: 43px;
}
.footer-logo{
    width: 100%;
    height: 100%;
}
.colum-footer-content, .list-footer-buyer{
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    gap: 20px;
}

.title-footer-content{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.point-footer-list{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #716BA8;
    cursor: pointer;
}

.footer-wrapper-for-icon{
    display: flex;
    width: 112px;
    gap: 20px;
}
.link-footer-contacts{
    width: 24px;
    height: 24px;
}
.icon-footer-contacts{
    width: 100%;
    height: 100%;
}
.protection-of-rights{
    background: #19143E;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #716BA8;
}
.footer-hr-line{
    border: none;
    border-bottom: 0.5px solid #FFFFFF;
    opacity: 0.08;
    width: 1920px;
    position: absolute;
    bottom: 104px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1919px) {
    .footer-hr-line {
        width: 100vw;

    }
}
@media screen and (max-width: 809px) {
    .footer{
        height: 428px;
    }
    .footer-dop-inf {
        flex-wrap: wrap;
        width: 341px;
        padding: 30px 0 0 0;
        justify-content: start
    }
    .wrapper-footer-logo {
        width: 341px;
        height: 27px;
        margin-bottom: 30px;
    }
    .footer-logo {
        width: 58px;
        height: 27px;
    }
    .title-footer-content {
        font-size: 16px;
    }
    .wrapper-footer-buyer{
        margin-right: 52px;
        margin-bottom: 33px;
    }
    .point-footer-list {
        font-size: 14px;
        line-height: 21px;
    }
    .list-footer-buyer, .colum-footer-content{
        gap: 10px;
    }
    .footer-hr-line {
        width: 410px;
        bottom: 60px;
    }
    .protection-of-rights {
        margin-top: 56px;
        height: 24px;
    }
}