.wrapper-review {
    width: 801px;
    height: 712px;
    background: #19143e;
    border-radius: 30px;
}
.wrapper-title-review-and-coments {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    height: 64px;
    padding: 30px 0 0 30px;
}
.title-review-and-coments {
    display: flex;
    gap: 5px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #716ba8;
    padding-bottom: 9.5px;
    cursor: pointer;
}
.title-review-active {
    color: #ffffff;
    display: block;
}
.title-review-and-coments-active {
    border-bottom: 2px solid #e4014a;
}
.textarea-text-coments {
    border: none;
    margin: 20px 0 0 30.5px;
    width: 740px;
    height: 129px;
    background: #211946;
    border-radius: 20px;
    color: #ffffff;
    position: relative;
    padding: 30px;
    resize: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
.textarea-text-coments::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #716ba8;
    background: #211946;
}
.textarea-text-coments:focus {
    outline: none;
}
.input-btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30.5px;
    margin-top: 15px;
    margin-bottom: 20px;

    width: 246px;
    height: 54px;

    background: #e4014a;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.45);
    border-radius: 48px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #ffffff;
    cursor: pointer;
}
.input-btn-submit:hover {
    background: #ef1e61;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
}
.wrapper-blok-coment {
    height: 100px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
}
.wrapper-avatar-coment {
    width: 60px;
    height: 60px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #211946;
    border-radius: 100%;
}
.wrapper-content-coment {
    height: 60px;
    display: flex;
    flex-direction: column;
    width: 487px;
    margin-right: 36px;
}
.wrapper-nick-athor {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-top: -2px;
    margin-bottom: 12px;
}
.wrapper-content-coment-text {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}
.wrapper-time-coment {
    display: flex;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #716ba8;
    margin-top: -2px;
    margin-bottom: 2px;
}
.wrapper-blok-coment800{
    display: none;
}
@media screen and (max-width: 1220px) {
    .wrapper-review {
        width: 100%;
        max-width: 857px;
        height: 712px;
        background: #19143e;
        border-radius: 30px;
    }
    .textarea-text-coments {
        width: 100%;
        max-width: 797px;
    }
    .wrapper-blok-coment {
        justify-content: space-between;
    }
    .wrapper-input-coments {
        width: 100%;
        padding: 20px 30.5px 0 30.5px;
    }
    .textarea-text-coments {
        margin: 0;
    }
    .input-btn-submit {
        margin-left: -0.5px;
    }
}
@media screen and (max-width: 800px) {
    .wrapper-title-review-and-coments{
        padding: 20px 0 0 20px;
        height: 52px;
    }
    .wrapper-input-coments {
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    .title-review-and-coments,
    .wrapper-nick-athor,
    .wrapper-time-coment, .textarea-text-coments, .textarea-text-coments::placeholder {
        font-size: 14px;
        line-height: 21px;
    }
    .textarea-text-coments{
        padding: 15px;
        border-radius: 15px;
    }
    .input-btn-submit{
        font-size: 14px;
        line-height: 21px;
        width: 200px;
        height: 40px;
    }
    .wrapper-blok-coment {
        display: none;
    }
    .wrapper-blok-coment800{
        display: block;
        padding: 20px 30px;
    }
    .wrapper-title-coment800{
        display: flex; 
        height: 61px;
        gap: 15px;
        align-items: center;
        margin-bottom: 10px;
    }
    .wrapper-avatar-coment {
        margin-right: 0px;
    }
    .wrapper-title-coment800-discription{
        height: 47px;
    }
    .wrapper-content-coment{
        width: 100%;
        min-width: 291px;
    }
    .hr-line-in-box-dN{
        display: none;
    }
    .wrapper-review{
        height: 600px;
    }
    .wrapper-content-coment{
        height: 50px;
    }
}
@media screen and (max-width: 692px) {
    .wrapper-review{
        border-radius: 20px;
    }
}
@media screen and (max-width: 550px) {
    .input-btn-submit{
        width: 100%;
        height: 40px;
        font-size: 14px;
        line-height: 21px;
    }
}
