.main-order{
    background: #140f36;
}
.main-wrapper{
    padding-top: 60px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.main-wrapper-way{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #716BA8;
    margin-bottom: 13px;
}
.title-game-h{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 100%;
    color: #FFFFFF;
}
.section-basket{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-basket-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: #FFFFFF;

    margin-top: 3px;
}
.wrapper-backet-content{
    display: flex;
    gap: 30px;
}
.wrapper-card-order{
    display: flex;
    padding: 30px;
    gap: 20px;

    width: 594px;
    height: 270px;

    background: #19143E;
    border-radius: 30px;
}
.wrapper-order-description{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.description-title{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    color: #FFFFFF;
}
.wrapper-price-and-discont{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: -2px;
}
.real-prise{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.old-prise{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: line-through;
    color: #716BA8;
}
.wrapper-discont{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;

    background: rgba(228, 1, 74, 0.2);
    border-radius: 48px;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #E4014A;
}
.wrapper-discont:hover{
    background: rgba(228, 1, 74, 0.35);
}
.description-line{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #716BA8;
    margin-top: -2px;
}
.description-text{
    color: #FFFFFF;
}
.order-payment{
    width: 1218px;
    height: 285px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -4px;
}
.order-payment-box{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 1218px;
    height: 230px;

    background: #19143E;
    border-radius: 30px;
}
.wrapper-data-user{
    width: 100%;
    height: 114.5px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.08);
    padding: 30px;
    display: flex;
    gap: 20px;
}
.select-payment{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;

    width: 372.67px;
    height: 54px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 59px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #716BA8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image:url(../../assets/icon/Icon_down.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position:right 18px bottom 15px;
    cursor: pointer;
}
.select-payment:hover{
    background: rgba(255, 255, 255, 0.1);
    background-image:url(../../assets/icon/Icon_down.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position:right 18px bottom 15px;
}
.select-payment:focus{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    background-image:url(../../assets/icon/Icon_down.png);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position:right 18px bottom 15px;
}
select, select:focus, select:active, select:hover{
    outline: none;
    border: none;
}

select option{
    background-color: rgba(33, 25, 70);
    width: 50px;
    height: 54px;
    color: #716BA8;
    cursor: pointer;
}
.input-you-mail, .input-you-promoKod{
    display: flex;
    align-items: center;
    padding: 16px 35px 16px 20px;

    width: 372.67px;
    height: 54px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 52px;
    border: none;
    outline: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    cursor: pointer;
}
.input-you-mail:hover, .input-you-promoKod:hover{
    background: rgba(255, 255, 255, 0.1);
}
.input-you-mail:focus, .input-you-promoKod:focus{
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}
.input-you-mail::placeholder, .input-you-promoKod::placeholder{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #716BA8;
}
.wrapper-do-order{
    height: 114px;
    display: flex;
    gap: 20px;
    padding: 30px;
    align-items: center;
}
.btn-do-order{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 194px;
    height: 54px;

    background: #E4014A;

    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.4);
    border-radius: 48px;
    border: none;

    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-do-order:hover{
    background: #EF1E61;
    box-shadow: 0px 2px 30px rgba(228, 1, 74, 0.65);
}
.total-title{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #716BA8;
}
.total-count{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
@media screen and (max-width: 1220px) {
    .order-payment {
        width: 100%;
        max-width: 1150px;
        height: 285px;
    }
    .order-payment-box {
        width: 100%;
        height: 230px;
    }

}
@media screen and (max-width: 1000px) {
    .wrapper-backet-content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .wrapper-card-order {
        width: 100%;
        max-width: 732px;
        height: 270px;
    }

}
@media screen and (max-width: 808px) {
    .order-payment{
        height: 324px;
    }
    .order-payment-box{
        height: 276px;
    }
    .wrapper-data-user{
        flex-direction: column;
        height: 190px;
        padding: 20px;
        gap: 15px;
    }
    
    .select-payment, .input-you-mail, .input-you-promoKod{
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        height: 40px;
        padding: 8px 15px;
        background-position: right 15px bottom 8px;
    }
    .select-payment:hover{
        background: rgba(255, 255, 255, 0.1);
        background-image:url(../../assets/icon/Icon_down.png);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: right 15px bottom 8px;
    }
    .select-payment:focus{
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.1);
        background-image:url(../../assets/icon/Icon_down.png);
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: right 15px bottom 8px;
    }/*
    select option{
        font-size: 14px;
        line-height: 21px;
    }*/
    .input-you-mail::placeholder, .input-you-promoKod::placeholder{
        font-size: 14px;
        line-height: 21px;
    }
    .wrapper-do-order {
        height: 114px;
        width: 100%;
        display: flex;
        gap: 20px;
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .btn-do-order {
        width: 158px;
        height: 40px;
        font-size: 14px;
        line-height: 21px;
    }
    .total-count{
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 640px) {
    .main-wrapper{
        padding-top: 40px;
        padding-bottom: 60px;
        gap: 30px;
    }
    .main-wrapper-way{
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
    }
    .title-game-h2, .section-basket-title{
        font-size: 28px;
        line-height: 28px;
    }
    .section-basket-title{
        margin-top: 2px;
    }
    .wrapper-card-order{
        padding: 20px;
        border-radius: 20px;
        max-width: 430px;
        min-width: 290px;
        height: 206px;
    }
    .order-img{
        width: 75px;
        height: 93px;
    }
    .wrapper-order-description{
        gap: 10px;
    }
    .description-title {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    .real-prise {
        font-size: 16px;
        line-height: 24px;
    }
    .wrapper-discont{
        width: 46px;
        height: 46px;

        font-size: 14px;
        line-height: 21px;
    }
    .description-line{
        font-size: 14px;
        line-height: 21px;
    }
}